.progress-table {
    background: #f9f9ff;
    padding: -1px 0px 30px 200px;
    min-width: 800px;
  margin-left: 180px;
  margin-right: 180px; }
    .progress-table .serial {
      width: 11.83%;
      padding-left: 30px; }
    .progress-table .country {
      width: 28.07%;
    margin-left: 30px; }
    .progress-table .visit {
      width: 32.74%;
    margin-left: 20px; }
    .progress-table .percentage {
      width: 40.36%;
      padding-right: 50px; }
    .progress-table .table-head {
      display: flex; }
      .progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
        color: #222222;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 500; }
    .progress-table .table-row {
      padding: 15px 0;
      border-top: 1px solid #edf3fd;
      display: flex; }
      .progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
        display: flex;
        align-items: center; }
      .progress-table .table-row .country img {
        margin-right: 15px; }
      .progress-table .table-row .percentage .progress {
        width: 80%;
        border-radius: 0px;
        background: transparent; }
        .progress-table .table-row .percentage .progress .progress-bar {
          height: 5px;
          line-height: 5px; }
          .progress-table .table-row .percentage .progress .progress-bar.color-1 {
            background-color: #6382e6; }
          .progress-table .table-row .percentage .progress .progress-bar.color-2 {
            background-color: #e66686; }
          .progress-table .table-row .percentage .progress .progress-bar.color-3 {
            background-color: #f09359; }
          .progress-table .table-row .percentage .progress .progress-bar.color-4 {
            background-color: #73fbaf; }
          .progress-table .table-row .percentage .progress .progress-bar.color-5 {
            background-color: #73fbaf; }
          .progress-table .table-row .percentage .progress .progress-bar.color-6 {
            background-color: #6382e6; }
          .progress-table .table-row .percentage .progress .progress-bar.color-7 {
            background-color: #a367e7; }
          .progress-table .table-row .percentage .progress .progress-bar.color-8 {
            background-color: #e66686; }
  .section-top-border{
  padding-top: 150px;
  padding-bottom: 80px;
            }
            h1{
              color: #18151f;
              margin-bottom: 0.5rem;
              font-weight: 500;
              line-height: 1.2;
            }
          